<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hackerspace Cards</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	<style>
	*, *:before, *:after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	html,body{
		height: 100vh;
		font-family: 'Roboto';
	}
	
	page { size: A4 }

	a, a:visited{
		color: black;
		text-decoration: none;
	}
	.cut-lines{
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
		display: grid;
		
		grid-template-columns: repeat(2, 9.65mm 1fr) 9.65mm;
		grid-template-rows: repeat(5, 9.65mm 1fr) 9.65mm;

		z-index: 1
	}
	.cut-lines div{
		width: 100%;
		height: 100%;
		border: 1px solid gray;
	}

	.cut-lines-cover {
		position: absolute;
		left: 4.825mm;
		top: 4.825mm;

		width: 200.35mm;
		height: 286.35mm;

		background-color: white;
		z-index: 2;
	}

	.cards{
		display: grid;
		justify-content: center;

		grid-auto-flow: row;
		grid-gap: 9.65mm;

		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);

	}
	.card{
		width: 100%;
		height: 43mm;
		/* border: 1px solid red; */
		padding: 10mm;
		z-index: 5;
	}

	.logo{
		width: 100%;
	}

	.red{
		color: red;
	}

	.card-list {
		font-size: 0.4rem;
		padding: 2mm;
	}

	.event-list dt{
		float: left;
    clear: left;
		width: 11mm;

		color: red;
	}
	.event-list dd{
		color: black;
		font-weight: bold;
	}
	</style>
</head>
<body class="A4">
	<section class="sheet padding-10mm">
    <div class="cut-lines">
			{% for i in range(low=1, high=55, step=1) %}
				<div></div>
			{% endfor %}
		</div>
		<div class="cut-lines-cover"></div>
		<div class="cards">
			{% for i in range(low=1, high=10, step=1) %}
			<div class="card">
			<img class="logo" src="/static/logo.png" ></img>
					<a href="https://hs3.pl">https://hs3.pl</a><br/>
					<span class="red">Dołącz do nas</span> <a href="https://hs3.pl/join">https://hs3.pl/join</a>
			</div>
			{% endfor %}
		</div>
	</section>

	<section class="sheet padding-10mm">
    <div class="cut-lines">
			{% for i in range(low=1, high=55, step=1) %}
				<div></div>
			{% endfor %}
		</div>
		<div class="cut-lines-cover"></div>
		<div class="cards">
			{% for i in range(low=1, high=10, step=1) %}
			<div class="card card-list">
				<dl class="event-list">
					{% set last_date = "" %}
					{% for event in events %}
						{% set date = event.date|date("d.m, H:i") %}

						{% if date != last_date %}
							<dt>{{ date }}</dt>
						{% else %}
							<dt>&nbsp;</dt>
						{% endif %}
						
						<dd>{{ event.title }}</dd>
						{% set last_date = date %}
					{% endfor %}
				</dl>
			</div>
			{% endfor %}
		</div>
	</section
</body>
</html>